<template id="tasksListTemplate">
<div id="TaskListDiv" style="display:block;">

    <div id="taskList"> 

        <script type="text/x-underscore">

            <button class="addtaskbtn2" data-eventid="' + 30001 + '">+ task</button>

            <% _.each(tasks, function(task) { %>
                
                    <div data-id=<%=task.taskid%> 
                        class="taskname">
                        <div style="display:inline-block;"><%=task.taskname%></div>
                        <div class="taskIcons">
                            <div class="fa fa-newspaper-o"></div>
                            <div class="fa fa-book"></div>
                            <div class="fa fa-ban"></div>
                        </div>
                    </div>

               
            <% }); %>

        </div>
        </script>
    </div>
</div>
</template>