@CHARSET "UTF-8";

#ParticipantDiv {
  position: absolute;
  top: 165px;
  right: 0px;
  width: 180px;
  background-color: #eee;
  border: solid;
  z-index: 999;
}

span.numcircle {
  background: #77c;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.parent .popup {
  display: none;
}

.parent:hover .popup {
  display: block;
}

ul {
    text-align: left;
    display:block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    -webkit-padding-start: 5px;
}
li{
	font-size:14px;
	font-weight:bold;
}


body {
    background: rgba(248, 248, 248, 1);

    margin-top: 0px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

.dialog label {
	width:90px;
    float:left;
}

.dialog .field {
	width:170px;	
}

#calendar {
	width: 900px;
	/*margin: 0 auto;WFB */
  position: relative;
}


.taskname {
    text-align: left;
    margin-left: 16px;
    margin-top:  38px;
    
    font-weight: bold;
    font-size: 9pt;
}

.taskdescr {
    font-size: 6pt;
    padding-top: 4px;
}

.addtaskbtn {
  font-size: 9pt;
  color: blue;
  background: white;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: 76px;
  top: 12px;
  margin-bottom: -25px;
}

.hrtask {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   margin-left: 48px;
   height: 0;
   width: 92%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top:    1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
   z-index:10;
}


#floatDiv {
        position:absolute;
        left:50%;
        top:44px;
        margin-top:122px;
        margin-left:-210px;
        width:320px;
        height:140px;
        background-color: #eee;
    border: solid;
    z-index : 9999;
      border-color: #bbb;
  box-shadow: 5px 5px 10px darkgrey;
    }
 


.memberListPic {
    vertical-align:middle;
    height : 32px;
    width: 32px;
}

.showDetails {
    font-size: 12pt;
}

.fc-today-button {
    display: none
}

.userImg {
    height: 32px;
    width:  32px
}

.userName {
    font-size: 12pt;
    font-weight: normal;
}

.MemberList li {
    -webkit-user-select: none;
}

#display-user-form li {
    font-size: 10pt;
}
#display-user-form img {
    height: 32px;;
}

#participantDialog {
    z-index: 1000;
}

.fc-view-container table {
    border-spacing: 12px 0px;
}

.fc-view-container .fc-widget-contentNEW {
    border: none;
}
.fc-view-container .fc-widget-headerNEW {
    border: none;
}


.fc-day-header.fc-widget-header {
    padding:14px;
}


.icon-leftarrow:before {
    content: "\f024"
}
.icon-rightarrow:before {
    content: "\f025"
}

.sidebar-hide-btn {
    height: 52px;
    left: -32px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 0px;
    z-index: 6;
    width: 32px;
}