#eventName {
  font-size:18px;
  font-weight: bold;
  position:absolute; 
  left:50px; 
}

#eventTime, #eventRepeat, #eventLocation, #eventHost {
  padding:0 5px;
}

#editEventLocationFLD {
  width: 360px;
}

#editEventTzFLD {
  width: 70%;
}

.ui-tabs-vertical { width: 55em;}
.ui-tabs-vertical .ui-tabs-nav { float: left; width: 15em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border: 0 !important; background: transparent;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border: 0; background: transparent;}
.ui-tabs-vertical .ui-tabs-panel {
  float: right;
  width: 80%
 }
.ui-tabs-anchor:active, .ui-tabs-anchor:focus { outline:none; }

#tabs-create 
{
    left:0%;
  border:0; 
  padding:0px; 
  margin:0px; 
  border-radius: 0px;
  /*width: 0%;*/
  display: none;
}


#createEventDiv {
    background-color: #F8F8F8 ;
    width: 100%;
    display: block;
    height: auto;
    z-index: 1000;
    
    /*WFB position:absolute;
    left: 30%;
    top: 10%;
    
    z-index:999,*/
}


#basic table{
  width: 100%;
  height: auto;
  margin-top: 1%;
  }
  #task table{
  width: 100%;
  height: auto;  
  }
 #createEventDialog td{
  padding-bottom: 1%;
  padding-top: 1%;
}
#createEventDialog tr{
  margin-top: 10%;
}
#createEventDialog a{
  font-family: font-family: Century Gothic, sans-serif;
}

#create-tab-list 
{ 
  background: none; 
  border: none; 
  min-height: 100%; 
  height: auto;
  width: 20%;
  background-color: #F0F0F0;
  border-radius: 0px;
}

#create-tab-list li{
  padding-bottom: 5%;
  width: 92%;
  height: 35px;
  border-radius: 0;
  border: none;
}

#create-tab-list .ui-tabs-nav {background: transparent; border: 0; } 
.first-tab { 
  background: #D0D0D0;
  width: 92%;
  left: 0;
  padding-top: 1%;
}
.createEventTab{
  width: 92%;
}


#basic, #timeLoc, #task, #preview{
 font-size: 18px;
  left:0;
  font-family: Century Gothic, sans-serif;
  border-radius: 0px;
}


.eventbody{
  border-top: 1px dotted #E0E0E0  ;
  border-bottom: 1px dotted #E0E0E0  ;
  padding-bottom: 3%;
  padding-top: 2%;
}
.title{
  font-family: Century Gothic, sans-serif;
  padding-top: 2%;
  font-size: 20px;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: left;
  width: 100%;
}
#basic .t1{
  text-align: center;
  font-size: 15px;
  height: 40px;
  left: 0;
  width: 25%;
  font-family: Century Gothic, sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
}
#task .t1{
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    text-align: right;
    width: 20%;
}
#createEventRepeat .t1, #createEventOneTime .t1{
  text-align: right;
}
#basic input{
  font-size: 15px;
  width: 80%;
   height: 40px;
   font-family: Century Gothic, sans-serif;
   border: 1px solid #E8E8E8;
   left:0;
}
#createEventOneTime input{
  border: 1px solid #E8E8E8;
   font-family: Century Gothic, sans-serif;
     font-size: 15px;
     height: 30px;
    padding: 2%;
}
#createEventOneTime textarea{
  border:1px solid #E8E8E8;
  resize:none;
  width:95%;
  font-family: Century Gothic, sans-serif;
}
#createEventRepeat input{
  border: 1px solid #E8E8E8;
   font-family: Century Gothic, sans-serif;
     font-size: 15px;
     height: 30px;
     padding: 2%;
}

#timeLoc .one-time-event{
  font-size: 15px;
  width: 80%;
  background:#F8F8F8;
  margin-left: 10%;
  margin-bottom: 2%;
  padding: 1%;
  text-align: left;
  line-height: 35px;
}
#task input{
  border: 1px solid #E8E8E8;
     font-family: Century Gothic, sans-serif;
     font-size: 15px;
     height: 30px;
     width: 80%;
}
#task textarea.des{
  font-family: Century Gothic, sans-serif;
     font-size: 15px;
       width: 80%;
       border: 1px solid #E8E8E8;
       resize:none;
}

#task textarea.pool{

  border: 1px solid #E8E8E8;
    font-family: Century Gothic, sans-serif;
     font-size: 15px;
     width: 200px;
     height: 200px;
     resize:none;
}
#task .participants{
   border: 1px solid #E8E8E8;
  min-height: 200px;
  height: auto;
  width: 220px;

}
#task .arrow{
  background-image: url(images/arrow.png);
    width: 20px;
  height: 20px;
}
#addNewTask{
  text-align: left;
  width: 100%;
  border: none;
  padding: 1%;
  font-family: Century Gothic, sans-serif;
  font-size: 16px;
  background: transparent;
  left:0px;
  color:  #34629A;
 }
#addNewTask:before{
  content: '\2295';
  padding: 2%;
    color:  #34629A;
  }
  #addNewTask:hover{
    cursor: pointer;
  }

 #preview .schedule{
  width: 100%;
  height: 80%;
  background-color: silver;
 }

.radio{
     font-family: Century Gothic, sans-serif;
     font-size: 15px;
}
#radio2 {
  font-weight: bold;
  color: #34629A;
}

.createEventRepeatSetting {
  border: solid 1px #E8E8E8;
  width: 80%;
  position: relative;
  font-family: Century Gothic, sans-serif;
     font-size: 15px;
     left:4.5%;
     padding: 2%;
     margin-top: 2%;

}

#gallery li, #pool li{
  width: 220px;
    font-weight: normal;
  padding:3% 0;
  margin: 0;
  border-radius: 0;
  text-transform: uppercase;

}
#pool{
  font-weight: normal;
  padding:3% 0;
  text-transform: uppercase;
}
#gallery li:hover, #pool li:hover{
  color: white;
  cursor: move;
  background-color: #34629A

}
#gallery, #pool{
  padding: 0;
  margin: 0;
}
#pool section, #gallery section{
  text-align: center;
  color: silver;
  opacity: 0.6;
  font-style: italic;
  font-size: 15px;
  text-transform: lowercase;
}
.discussion{
  text-align: left;
  font-size: 15px;
  padding: 1% 2%;
  color:white;
  background-color: #34629A;
}
.event-body{
  text-align: left;
  padding: 2%;
  min-height: 100px;
  height: auto;
  background-color: #F8F8F8;
}
.eventlist{
  width: 30%;
  box-shadow: 0px 0px 4px 0px silver;
}
.eventlist li{
  text-align: left;
  font-weight: normal;
  padding: 10% 2%;
  border-bottom: 1px dashed #e8e8e8;
}
.eventlist, .event-schedule{
  background-color: white;
  min-height: 250px;
  display: inline-block;
}
.event-schedule{
  width: 69%;
}

.ui-dialog {
    z-index: 1000
}