/*********************************** //
// This CSS file is created to hold  //
// the CSS of all styles related to  //
// the flyout.                       //
// ***********************************/

/* The container of the flyout */
#flyoutBox {
	position: fixed;
	display: none;
}
/* Creates an up arrow for the flyout */
#arrowUp {
	position: fixed;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #333333;
}
/* Flyout contents display */
#blackBox {
	position: relative;
	top: 7px;
	max-height: 100px;
	max-width: 200px;
	border: 10px solid #333333;
	background-color: #333333;
	color: white;
	float: left;
	clear: both;
	overflow: auto;
}