/*********************************** //
// This CSS file is created to hold  //
// the CSS of all styles related to  //
// the participant.                  //
// ***********************************/

/* For future circle participants
blue - you 
red - declined
green - accepted
gray - requested
ask details about accept decline
*/

/* Image Update Popup */
/* Location: upper right navigation bar */
/* Event: profile image clicked */
#participant-show {
	display: block;
	position: fixed;
	top: 2%;
	right: 0;
	width: 50%;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	background: rgba(0,0,0,0.8);
	margin: 8px 22px 8px 22px;
	z-index: 10;
}			

/* Profile Image Display */
/* Location: upper right navigation bar */
/* Action: display of the profile image */
#editProfileImage {
	float: left;
	text-align:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-size: 100% 100%;
}

/* Container for Participant List */
#ParticipantListDiv {
	position: absolute;
	top: 8%;
	right: 0;
	min-height: 92%;
	width: 300px;
	border-radius: 10px 0 0 10px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
	background-color: #eee;
	visibility: hidden;
	z-index: 9;
}
/* Top of container */
#parListTopBar {
	text-align: left;
	font-size: 20px;
	padding: 15px;
	color: #FFFFFF;
	background: #34629A;
	border-top-left-radius: 10px;	
	font-variant: small-caps;
}
/* List in container */
/* Removing inherited css */
#parList ul{
	margin: 0;
	padding: 0;
}
/* ParticipantList font size */
#parList li {
    font-size: 12px;
	padding: 3%;	
}
/* Highlight line */
#parList li:hover {
	background-color: #c9c9c9;
}
/* ParticipantList image size */
#parList img {
    height: 32px;
	border-radius: 50%;
	border: 2px outset blue;
	border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
	vertical-align: middle;
}
#parList img:hover {
	border: 1px solid blue;
}
/* Clickable Icons */
#participantsListIcons {
	float: right;
	margin-top: 7px;
	font-size: 20px;
	width: 110px;
	color: white;
}
#participantsListIcons i {
	margin-right: 15px;
}
#participantsListIcons i:hover {
	text-shadow: 0px 0px 5px black;
}

/* Participant List Arrow Button */
#parListHideBtn {
	position: absolute;
	top: 33px;
    left: -45px;	
    width: 30px;
	padding: 6px;
	background: white;
	border-radius: 50% 0 0 50%;
	text-align: right;
	visibility: visible;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
}
#parListHideBtn:before {
	display: inline-block;
    content: "\f054";
    font-family: FontAwesome;
	font-size: 25px;
}
#parListHideBtn span {
	display: none;
}
#parListShowBtn {
	width: 30px;
	padding: 6px;
	background: white;
	border-radius: 50% 0 0 50% / 100px 100px;
	visibility: visible;
	float: right;
	text-align: center;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(119, 119, 119, 0.75);
}
#parListShowBtn:hover  {
	width: 150px;
}
#parListShowBtn:hover span {
	display: inline-block;
	top: 50%;
    transform: translate(0, -30%);
}
#parListShowBtn span {
	display: none;
}
#parListShowBtn:before {
	display: inline-block;
    content: "\f053";
    font-family: FontAwesome;
	font-size: 25px;
}
