/*********************************** //
// This CSS file is created to hold  //
// the CSS of all styles related to  //
// the participant.                  //
// ***********************************/

/* For future circle participants
blue - you 
red - declined
green - accepted
gray - requested
ask details about accept decline
*/

/* Image Update Popup */
/* Location: upper right navigation bar */
/* Event: profile image clicked */
#participant-show {
	display: block;
	position: fixed;
	top: 2%;
	right: 0;
	width: 50%;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	background: rgba(0,0,0,0.8);
	margin: 8px 22px 8px 22px;
	z-index: 10;
}			

/* Profile Image Display */
/* Location: upper right navigation bar */
/* Action: display of the profile image */
#editProfileImage {
	float: left;
	text-align:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-size: 100% 100%;
}

/* Container for Participant List */
#ParticipantListDiv {
	position: absolute;
	top: 15%;
	height: 85%;
	right: 0;
	width: 20%;
	background-color: #eee;
	z-index: 9;
}
/* Top of container */
#parListTopBar {
	text-align: left;
	color: #FFFFFF;
	font-size: 14px;
	padding: 3%;
	background: #34629A;
	
}
/* List in container */
/* Removing inherited css */
#parList ul{
	margin: 0;
	padding: 0;
}
/* ParticipantList font size */
#parList li {
    font-size: 10pt;
	padding: 3%;	
}
/* Hover */
#parList li:hover {
	background-color: grey;
}
/* ParticipantList image size */
#parList img {
    height: 32px;
	border-radius: 50%;
	border: 3px solid blue;
	vertical-align: middle;
}
#participantsListIcons {
	float: right;
	margin-top: 10px;
}

/* Participant List Sidebar Button */
#parListHideBtn {
    height: 52px;
    left: -32px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 0px;
    z-index: 6;
    width: 32px;
	background: url(../images/participantListArrow.png);
	background-size: 100% 100%;
	transform: scale(-1, 1);
}
#parListShowBtn {
    height: 52px;
    left: -32px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 0px;
    z-index: 6;
    width: 32px;
	background: url(../images/participantListArrow.png);
	background-size: 100% 100%;
}